mat-card {
  width: 450px;
  margin: 20vh auto auto;
}

mat-card-header {
  h1 {
    margin-left: 15px;
    font-weight: 400;
  }
}

.full-width-input {
  width: 100%;
}

button {
  margin-top: 10px;
}
